html{
    scroll-behavior: smooth;
}
.top{
	font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    width: 600px;
    font-weight: 60;
    text-align: center;
    
    cursor:default;
    background-color: white;
    text-shadow:
            1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

    margin-top: 5vh;
    margin-bottom: 75px;
    animation: fade 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode:backwards;

    transition: 0.5s;
}
.top:hover{
    color: white;
    text-shadow:
            1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
.lock{
    height: 250px;
    overflow-y: visible;
    overflow-x: visible;
}
.letter{
    font-family: 'Montserrat', sans-serif;
    color: white;text-shadow:
            3px 3px 0 #000,
            -3px -3px 0 #000,
            3px -3px 0 #000,
            -3px 3px 0 #000,
            3px 3px 0 #000;
    font-size: 190px;
    font-weight: 600;
    margin-top: 0px;
    padding-left: 4px;

    animation: slideDown 1s backwards ;
    transition: 0.5s;
    cursor: default;
}
.letter:hover{
    color: black;
}
.bottom-section{
    animation: fade 1s backwards;
    animation-delay: 2.7s;
}
.bottom-text{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-shadow:
            1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 0px;

    transition: 0.5s;
}
.bottom-text:hover{
    margin-bottom: 20px;
}
@media only screen and (max-width: 1350px){
    .letter{
        font-family: 'Montserrat', sans-serif;
        color: white;color: white;
            text-shadow:
                    2px 2px 0 #000,
                    -2px -2px 0 #000,
                    2px -2px 0 #000,
                    -2px 2px 0 #000,
                    2px 2px 0 #000;
        font-size: 125px;
        font-weight: 600;
        margin-top: 0px;
        padding-left: 3px;
    
        animation: slideDown 1s backwards ;
        transition: 0.5s;
        cursor: default;
    }
    .top{
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        width: 600px;
        font-weight: 60;
        text-align: center;
        
        cursor:default;
        background-color: white;
    
        margin-top: 5vh;
        margin-bottom: 50px;
        animation: fade 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode:backwards;
    
        transition: 0.5s;
    }
    .bottom-text{
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 30px;
        margin-top: 00px;
    
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    } 
    100%{
        opacity: 1;
    }
}
@keyframes slideDown{
    0%{
        margin-top: -300px;
    }
    100%{
        
        margin-top: 0px;
    }
}
@keyframes bob {
    0%{
        margin-bottom: 0px;
    }
    50%{
        margin-bottom: 20px;
    }   
    100%{
        margin-bottom: 0px;
    }
}

/* Section area */

.section-flexbox{
    height: 400px;
    width: 90vw;
    margin-left: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title-area{
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2.5%;

    outline: 2px white solid;
    cursor: pointer;

    transition: 0.5s;
}
.section-title-area:hover{
    outline: 2px black solid;
}
.section-description-area{
    width: 50%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: black;
    border-radius: 10px;
}
.section-title{
    font-family: 'Montserrat', sans-serif;
    color: white;color: white;
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    font-size: 90px;
    font-weight: 600;
    
    margin-top: 40px;
    padding: 10px;

    outline: 2px white solid;
    cursor: pointer;
    display: block;
    width: fit-content;

    transition: 0.5s;
}
.section-title:hover{
    outline: 2px black solid;
    color: black;
}
.section-date{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 55px;
}
.section-description-header{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;

    margin-bottom: 10px;
    cursor: default;
}
.section-description{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 23px;
    /* text-indent: 23px; */

    margin-left: 30px;
    margin-right: 40px;
}

.section-image{
    outline: 2px white solid;
    transition: 0.5s;
}  
.section-image:hover{
    outline: 2px black solid;
}